#txtUser,
#pwdPass {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    padding-left: 10%;
    margin-left: 5%;
}

#txtUser,
#pwdPass:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}