body {
    background-image: radial-gradient(#cd40d2, #7da5b0);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header {
    font-size: 45px;
    text-align: center;
    font-weight: 700px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(250, 235, 215, 0.86);
    border-radius: 20px;
}

.nav {
    padding-top: 1rem;
    text-align: center;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.nav:hover{
    color: #fff;
}

p {
    text-align: center;
    color: #fff;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}


.container {
    padding-top: 40px;
    display: flex;
    margin-left: 2rem;
}

.gatofoto {
    width: 29rem;
    border-radius: 25px;
    border: 3px solid #000;
    cursor: pointer;
    border-radius: 5%;
    animation: growShrink 5s infinite alternate;
}

@keyframes growShrink {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.1);
    }
}

aside {
    width: 35rem;
    /* border-radius: 25px;
    border: 3px solid #000; */
    margin: 10rem;
    margin-left: 15rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}