/* Exemplo de estilos para a versão mobile */
.game-board {
    width: 100%;
    height: 300px;
}

.mario {
    width: 80px; /* Reduzir o tamanho do Mario */
}

.pipe {
    width: 40px; /* Reduzir o tamanho do cano */
    animation: pipe-animation 3s infinite linear; /* Aumentar a duração da animação para dar mais tempo para pular */
}

.pontuacao {
    font-size: 1.2em;
}

#gameOverScreen {
    font-size: 2em; /* Reduzir o tamanho da fonte do "VOCÊ MORREU" */
}
