.header {
    background-color: black;
    color: white;
    text-align: center;
}

.header .h1 {
    margin: 1px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 10px 20px;
}
